@model IEnumerable<UniversityManagementSystemApp.Models.ClassRoom>

@{
    ViewBag.Title = "ClassShedule";
}

<h2>ClassShedule</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course.Name)
        </th>
        <th>
            @Html.Label("Shedule")
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Name)
        </td>
        <td>
            
            @Html.DisplayFor(modelItem => item.Days)
            @Html.LabelFor(modelItem => item.RoomNo)
            @Html.DisplayFor(modelItem => item.RoomNo)
            @Html.LabelFor(modelItem => item.StartTime)
            @Html.DisplayFor(modelItem => item.StartTime)
            @Html.DisplayFor(modelItem => item.StartTimeAmOrPm)
            @Html.LabelFor(modelItem => item.EndTime)
            @Html.DisplayFor(modelItem => item.EndTime)
            @Html.DisplayFor(modelItem => item.EndTimeAmOrPm)
        </td>

    </tr>
}

</table>
