@using System.Net.Mime
@model UniversityManagementSystemApp.Models.ClassRoom

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ClassRoom</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.DepartmentId, "DepartmentId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, "CourseId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("CourseId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RoomNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RoomNo", new List<SelectListItem>
                {
                    new SelectListItem{Text = "301", Value = "301"},
                    new SelectListItem{Text = "302", Value = "302"},
                    new SelectListItem{Text = "303", Value = "303"},
                    new SelectListItem{Text = "304", Value = "304"},
                    new SelectListItem{Text = "305", Value = "305"},
                    new SelectListItem{Text = "306", Value = "306"}
                }, "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RoomNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Days, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("Days", new List<SelectListItem>
                {
                    new SelectListItem{Text = "Saturday", Value = "Saturday"},
                    new SelectListItem{Text = "Sunday", Value = "Sunday"},
                    new SelectListItem{Text = "Monday", Value = "Monday"},
                    new SelectListItem{Text = "Tuesday", Value = "Tuesday"},
                    new SelectListItem{Text = "Wednesday", Value = "Wednesday"},
                    new SelectListItem{Text = "Thusday", Value = "Thusday"},
                    new SelectListItem{Text = "Friday", Value = "Friday"}
                }, "--Select--", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Days, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartTime, new { htmlAttributes = new { @class = "form-control col-md-1" } })
                @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.StartTimeAmOrPm, "AM", new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.StartTimeAmOrPm, "AM")
                @Html.RadioButtonFor(model => model.StartTimeAmOrPm, "PM", new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.StartTimeAmOrPm, "PM")
                @Html.ValidationMessageFor(model => model.StartTimeAmOrPm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
            </div>
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.EndTimeAmOrPm, "AM", new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.EndTimeAmOrPm, "AM")
                @Html.RadioButtonFor(model => model.EndTimeAmOrPm, "PM", new { htmlAttributes = new { @class = "form-control" } })
                @Html.LabelFor(model => model.EndTimeAmOrPm, "PM")
                @Html.ValidationMessageFor(model => model.EndTimeAmOrPm, "", new { @class = "text-danger" })
            </div>
        </div>
        


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
