@model IEnumerable<UniversityManagementSystemApp.Models.ClassRoom>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Course.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Department.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Days)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartTimeAmOrPm)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndTimeAmOrPm)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Department.Code)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Days)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartTimeAmOrPm)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndTimeAmOrPm)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClassRoomId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClassRoomId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClassRoomId })
        </td>
    </tr>
}

</table>
